
.archive h1.page-title{
  padding-top: 2rem;
  font-weight: bold;
}
.archive .main-navigation{
  border-bottom: 1px solid #a1a1a1;
}

.archive .navlinks{
  background: transparent;
  height: 52px;
  a{
  color:#248A83;
  }
  .icon-search{
    color:#248A83;
  }
}

.type-product {
  width: 23%;
}

.archive-posts {
  display: flex;
  width:1120px;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 10rem;
}

.entry-header{
    height:250px;
  }

  .taxonomy-description p{
    text-align: center;
  }

.archive-posts .entry-header {
    height: 250px;
    width: 250px;
    border: 1px solid #a1a1a1;

    img{
      height:180px;
    }
}