.post-type-archive-product{
  min-width:1120px;

  h1.page-title{
  padding: 0rem;
  margin:0rem;
  font-weight: bold;
}

.product-types-list{
  display:flex;
  text-decoration:none;
  color:#248A83;
}

section.product-types-list{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  border-bottom: 2px dotted #a1a1a1;
}

.product-type-links a{
  color:#248A83;
  text-decoration:none;
  padding: 0 1rem;
  font-weight: normal;
  font-family: "novecentosans";
  font-size: 1.4rem;
}
article{
  outline: none;
}
  .shop-grid{
  display: flex;
  flex-wrap:wrap;
  max-width:1120px;
  margin: 0 auto;
  justify-content: space-between;

  .shop-item{
  flex: 0 1 23%;
  width:100%;
  border: 1px solid #a1a1a1;

   img{
    width:100%;
    height:250px;
    position: center;
  }
}

}
}