
.site-footer{
 background: url('../../images/dark-wood@2x.png');
}

.site-footer .container {
  display:flex;
  font-family:'merriweather';
   h1 {
    color:#d99054;
    font-size:1.2rem;
   }
  p {
    color:white;
    font-size:1rem;
  }
  span{
    padding:5px;
  }
}

.business-info{
  width: 1120px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;

  h1{
    font-weight: bold;
  }
  p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0rem;
  }
}

.contact-info h1{
  text-align: left;
  }

.contact-info p{
    padding:0.5rem 0rem;
}


.hours-info{
  min-width:400px;
  padding-left:4rem;
  margin: 0;
  h1{
    text-align:left;
  }
    span{
    font-weight: bold;
  }
  p{
    padding:0.25rem 0rem;
  }
}

.logo{
  padding-left:15rem;
  width:600px;
  .footer-logo{
    width:300px;
  }
}