
h1 {
    text-align: center;
    font-family: "novecentosans";
    font-style: normal;
    font-weight: normal;
}

.site-description {
    margin: 0px;
}

.hero-banner {
    height: 975px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-background {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("home-hero.jpg") no-repeat top;
    background-size: cover;
}

.container {
    margin: 0 auto;
    width: 1120px;
}

section.product-info{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0;

}

.single-product-type {
    border: 1px solid #e1e1e1;
    border-top-width: 4px;
    width: 16rem;
    text-align: center;
    padding: 0.5rem;
    font-family: "merriweather";
    width:24%;
    &:hover {
        border-color: #d9905d;
    }
    img {
        height: 5rem;
        width: 5rem;
    }
    a{
        text-decoration: none;
        background: #248A83;
        padding: 0.75rem 1rem;
        color: white;
        border-color: solid #e1e1e1;
        font-family: "novecentosans";
        font-style: normal;
        font-weight: normal;
        font-size: 1.1rem;
        align-content: center;
    }
}


.featured {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    min-width:1120px;
}

.post {
    border: 1px solid #e1e1e1;
    flex: 0 1 32%;
    font-family: 'novecentosans';
   }
    a {
        letter-spacing: 1px;
        text-decoration: none;
        &:hover {
            color: black;
        }
    }

.post p {
    font-family: 'merriweather';
    padding-bottom: 0;
    padding-top:1rem;
    margin:0;
}

.post-information {
    padding-left: 10px;
    margin:0;
    margin-bottom: 1.5rem;

    h2{
        margin:0;
        font-size:1.4rem;
        height:4rem;
        color:#248A83;
    }

    a {
        color:#248A83;
    }
}

.image-post{
    overflow: hidden;
    height:250px;
    width:100%;
    border-bottom: 4px solid #a1a1a1;
    img{
        height:250px;
        width:100%;
    }
}


.read-entry a {
    border: 1px solid black;
    padding: 10px 15px;
    color: black;
}

.adventurelink {
    button {
        background-color: #248A83;
        height: 4rem;
        width: 6rem;
    }
    a {
        text-decoration: none;
        color: white;
    }
}

.adventureposts {
    display: flex;
    min-width: 1120px;
}


.adventure {
    color: white;
    font-family:'merriweather';
    font-style: normal;
    font-weight: light;
    padding: 2.5rem 2rem 0rem 2rem;
     p{
        border: 1px solid;
        width: 125px;
        padding:6px;
        font-size: 1rem;
        text-align:center;
    }
}

.adventure h1{
    color: black;
}

.adventure-half-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width:100%;
    height: 600px;
    padding: 10px 0px 10px 0px;
}

.vertical-half-container {
    display: flex;
    flex: 1;
    width:100%;
    padding: 0px 0px 10px 0px;
}


.adventure1 {
    flex: 1;
    width:100%;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/canoe-girl.jpg") center;
    background-size: cover, cover;
    margin-bottom:10px;
    padding-left: 1rem;
    font-size: 2rem;

}

.adventure2 {
    width: 100%;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/beach-bonfire.jpg") center;
    background-size: cover, cover;
    font-size: 1.5rem;
    margin-left:10px;
}

.adventure3 {
    background:linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/mountain-hikers.jpg") center;
    background-size: cover, cover;
    flex: 1;
    margin-right: 5px;
    margin-left:10px;
}

.adventure4 {
    background:linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/night-sky.jpg") center;
    background-size: cover, cover;
    flex: 1;
    margin-left:5px;
}

.adventurelink a{
    background: #248A83;
    padding: 10px;
    font-family:'novecentosans';
    font-size: 1.5rem;
}