
.hero-banner {
    background: url("home-hero.jpg") no-repeat top;
    background-size: cover;
    height: 975px;
    width:100%;
    display: flex;
    justify-content: center;
}

.shopcontainer{
  text-align: center;
  width: 1120px;
  margin: auto;
  h1{
    font-size:3rem;
  }
}

.stuffcategories{
  display: flex;
}

.stuff{
  border: 0.5px solid #e1e1e1;
  border-top: 4px solid #e1e1e1;
  margin: 0.5rem;
  justify-content: center;
  align-items:center;
  img{ height: 4.5rem;
       padding-top: 1rem;}
  a{
    color: #ffffff;
    border: #e1e1e1;
    background-color: #248A83
  }
}

