.site-description{
  margin:0px;
}

//General Page//
#masthead,
.home #masthead.active,
.page-template-page-about #masthead.active{
  width:100%;
  position: fixed;
  background-color:rgba(white, 0.8);
  border-bottom: 1px solid #a1a1a1;
}

.home #masthead,
.page-template-page-about
 #masthead{
  width:100%;
  position: fixed;
  background-color:transparent;
  color:white;
  border:none;
}

.home .navlinks a,
.page-template-page-about
.navlinks {
  color: white;
  a{
    color:white;
  }
  span{
    color:white;
  }
}


.navlinks,
.navlinks.active{
  display: flex;
  justify-content: space-between;
  margin-left:10rem;
  margin-right:10rem;
  height:52px;
  a{
    color: #248A83;
    padding:0.5rem;
    font-size: 1.2rem;
    font-family: 'novecentosans';
  }
  img{
    height: 3rem;
    widows: 3rem;
    padding:0.5rem;
  }
  span{
    color: #248A83;
  }
}

fieldset {
  border:none;
  margin:none;
  background: none;
}

button{
  border:none;
  background:none;
  box-shadow:none;
  &:hover{
    border-color:none;
    box-shadow:none;
  }

}
.main-menu{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
}

.form{
  display:inline;
}
.search-form .search-field{
  display:none;
  background-color:transparent;
  border: none;
  width: 100%;
}

fieldset label{
  width:auto;
}

input::placeholder {
  color:beige;
}

label {
  display:inline-block;
  width: 15rem;
}

//Home Nav//

.home #masthead,
.page-template-page-about #masthead{
  position: absolute;
}

