iframe {
  height: 300px;
  width: 760px;
}

#wpcf7 {
    color: #666;
    background-color: #f4f4f4;
    border: 1px solid #e1e1e1;
}

.entry-content {
  width: 761px;
  margin: 0 auto;
}

.wpcf7-form-control {
  button {
      
  }
}
