iframe {
  height: 300px;
  width: 760px;
}

#wpcf7 {
    color: #666;
    background-color: #f4f4f4;
    border: 1px solid #e1e1e1;
}

.entry-content {
  width: 761px;
  margin: 0 auto;
}


.site-content{
  padding-top: 52px;
}

.page-template-default .entry-header{
  height:auto;
}

.home .entry-header{
  height:auto;
}

.home .site-content,
.page-template-page-about .site-content{
  padding-top:0;
}

